/* ------ Default Style ---------- */
.gauge-container {
  width: 14rem;
  height: 14rem;
  display: flex;
  background: rgb(101, 96, 119);
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.5),
    inset 6px 6px 10px -1px rgba(255, 255, 255, 0.1),
    inset -6px -6px 10px -1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0.5rem;
  position: relative;

  .gauge {
    position: relative;
    .dial {
      stroke-width: 0.08rem;
      stroke: rgb(51, 45, 67);
      stroke-linecap: round;
    }
    .value {
      fill: rgba(0, 0, 0, 0);
      stroke: rgb(255, 121, 13);
      stroke-width: 0.16rem;
      stroke-linecap: round;
      filter: drop-shadow(5px 5px 15px rgba(255, 121, 13, 1));
    }
    .value-text {
      fill: grey;
      font-size: 0.8rem;
      opacity: 0;
      animation: blow_opacity 1s ease-out forwards;
      font-family: "Montserrat", sans-serif;
    }
  }
  .outer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 9rem;
    background-color: rgb(227, 228, 237);
    border-radius: 50%;
    scale: 0;
    overflow: hidden;
    animation: blow 1s ease-out forwards;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
    .inner {
      position: absolute;
      width: 6rem;
      height: 6rem;
      background-color: rgb(248, 249, 250);
      border-radius: 50%;
      box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.5);
    }
  }
  .pin {
    position: absolute;
    bottom: 1.2rem;
    color: rgb(38, 38, 38);
    font-size: 1rem;
    font-weight: 500;
  }
}

@keyframes blow {
  60% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
@keyframes blow_opacity {
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
