@import url('./styles/dial.scss');

.home-layout {
  background-color: rgb(201, 201, 201, 0.5);
  padding: 5rem;
  height: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  .title {
    font-size: 2rem;
    font-weight: 500;
  }
  .template-id {
    font-size: 1rem;
    font-weight: 500;
    margin-block: 1rem;
  }
}

.dials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}